<%- include('../partials/components/header.ejs'); %>
<%- include('../partials/components/top-bar.ejs'); %>
<%- include('../partials/components/sidebar.ejs'); %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Hotel</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/portal/hotel">Hotel</a></li>
          <li class="breadcrumb-item"><a class="active" href="/portal/hotel">Hotel List</a></li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Hotels</h5>

              <table class="table datatable" id="hotel_table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hotel Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Distance To Haram</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% let index = 1 %>
                    <% hotels.forEach((item) => { %>
                        <tr>
                            <td><%= index %></td>
                            <td>
                                <%= item.name_id %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.city?.name %>
                            </td>
                            <td>
                                <%= item.address %>
                            </td>
                            <td>
                                <%= item.distance_haram_mitres %> m
                            </td>
                            <td>
                                <%= item.rating %>
                            </td>
                            <td>
                                <img src="<%= item.image_url %>" alt="hotel" style="width:60px;height:40px;object-fit:cover;" />
                            </td>
                            <td>
                                <a href="/portal/hotel/<%= item.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
                                <form action="/portal/hotel/<%= item.id %>/delete" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% index++ %>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>


 
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <%- include('../partials/components/footer.ejs'); %>


<script>
   
</script>

</body>

</html>
