<%- include('../partials/components/header.ejs'); %>
<%- include('../partials/components/top-bar.ejs'); %>
<%- include('../partials/components/sidebar.ejs'); %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>City</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/portal/city">City</a></li>
          <li class="breadcrumb-item"><a class="active" href="/portal/city">City List</a></li>
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cities</h5>

              <table class="table datatable" id="cities_table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">City ID</th>
                    <th scope="col">City Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% let index = 1 %>
                    <% cities.forEach((item) => { %>
                        <tr>
                            <td><%= index %></td>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <a href="/portal/city/<%= item.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
                                <form action="/portal/city/<%= item.id %>/delete" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-sm btn-danger delete_city" data-id="<%= item.id %>">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% index++ %>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transModal" id="tanslate_button" style="display: none;">
    Launch demo modal
</button>

  <div class="modal fade" id="transModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Series <span class="lang_text">Spanish</span> Translation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="series_id" class="form-control" name="series_id"  disabled style="display: none;" />
                    <input type="text" id="lang_code" class="form-control" name="lang_code"  disabled style="display: none;"  />
                    <div class="form-outline mb-4">
                        <label class="form-label" for="parentlang">Original English</label>
                      <input type="text" id="parentlang" class="form-control" name="parentlang"  disabled />
                    </div>
                  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="slug">Translate To <span class="lang_text"></span></label>
                      <input type="text" class="form-control" name="tran_lang" id="tran_lang" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                    <div class="loader-container" id="loader-container" style="display: none;">
                        <div class="loader"></div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<%- include('../partials/components/footer.ejs'); %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).on("click", ".delete_city", function (e) {
    e.preventDefault();
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        var id = $(this).data("id");
        var current_ele = $(this);
        $.ajax({
          type: "POST", // Change to "POST" or "PUT" if needed
          url: `/portal/city/${id}/delete/`, // Replace with your API endpoint
          success: function (response) {
            // Handle the success response here
            console.log("Success:", response);
            if (response.status == "success") {
              Swal.fire(
                'Deleted!',
                'city has been deleted.',
                'success'
              )
              current_ele.parent().parent().hide();
              location.reload();
            } else {
              console.log("some error occure =====");
            }
          },
          error: function (error) {
            // Handle the error response here
            console.log("Error:", error);
          },
        });
      }
    })
  });
</script>

</body>

</html>
